version: '3.7'
services:
  robot-app:
    image: registry.gitlab.com/tradingbot3941224/robotapp:latest
    restart: always
    networks:
      - proxy
    environment:
      - SmtpSettings__Host=smtp.gmail.com
      - SmtpSettings__Port=587
      - SmtpSettings__EnableSsl=true
      - SmtpSettings__User=botbotProject@gmail.com
      - SmtpSettings__Password=${SMTP_PASSWORD}
      - SmtpSettings__DefaultEmail=lemery.joffrey@outlook.fr
      - ConnectionStrings__DefaultConnection=server=51.195.104.254;port=3306;database=robot;user=admin;password=${DATABASE_PASSWORD};SslMode=Required;CertificateFile=/app/database_ca_certificate.crt


networks:
  proxy:
    external: true