@using System.Security.Claims
<AuthorizeView>
    <Authorized>
        <span style="color: white;">Hello, @context.User.Identity?.Name ! </span>
        <form method="post" action="Account/LogOut">
            <button type="submit" class="nav-link btn btn-link" style="color: white;"> Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login" style="color: white;">Log in</a>
    </NotAuthorized>
</AuthorizeView>
@code {

}
