@inherits AllStrategyComponentBase

<div>
    <div class="row">
        <CreateStrategyComponent StrategyFormUpdateRequested="@InitializeStrategy"/>
    </div>
    <div class="row">
        <SfTab LoadOn="ContentLoad.Demand" SelectedItemChanged="Callback">
            <TabItems>
                @foreach (var strategy in StrategyList)
                {
                    <TabItem>
                        <HeaderTemplate>
                            <div>@(strategy.StrategyName) @(strategy.Symbol)</div>
                        </HeaderTemplate>
                        <ContentTemplate>
                            <CascadingValue Value="strategy.Id">
                                <StrategyDataComponent StrategyCloseRequested="@InitializeStrategy"/>
                            </CascadingValue>
                        </ContentTemplate>
                    </TabItem>
                }
            </TabItems>
        </SfTab>
    </div>
</div>


@code {


}