@inherits StrategyDataBaseComponent

<div class="container-fluid">
    @if (StrategyInfo.StrategyDisabled)
    {
        <div class="alert alert-warning" role="alert">
            Strategy désactivée !
        </div>
    }
    <div class="mb-3">
        <SfButton @onclick="DeleteStrategy">Delete Strategy</SfButton>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="Strategy">Strategy</label>
            <SfTextBox ID="Strategy" Value="@StrategyInfo?.StrategyName" Enabled="false"/>
        </div>
        <div class="col-md-4">
            <label for="Symbol">Symbol</label>
            <SfTextBox ID="Symbol" Value="@StrategyInfo?.Symbol" Enabled="false"/>
        </div>
        <div class="col-md-4">
            <label for="Timeframe">Timeframe</label>
            <SfTextBox ID="Timeframe" Value="@StrategyInfo?.Timeframe" Enabled="false"/>
        </div>
        <div class="col-md-4">
            <label for="Timeframe2">Timeframe</label>
            <SfTextBox ID="Timeframe2" Value="@StrategyInfo?.Timeframe2" Enabled="false"/>
        </div>

        <div class="col-md-4">
            <label for="CanRun" style="padding: 10px 10px 10px 0">Can Run</label>
            <SfSwitch Disabled="StrategyInfo.StrategyDisabled" @bind-Checked="StrategyInfo.CanRun" ValueChange="OnCanRunChange" TChecked="bool"></SfSwitch>
        </div>
    </div>
    <div class="row" style="margin: 20px;">
        <div class="col" style="padding-right: 10px;">
            <CandleComponent Candle="@StrategyInfo.LastCandle"/>
        </div>
        <div class="col" style="padding-left: 10px;">
            <TickComponent Tick="@StrategyInfo.LastTick"/>
        </div>
    </div>

    <div class="row">
        <SfTab LoadOn="ContentLoad.Dynamic" @bind-SelectedItem="@SelectedTab">
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Position Ouvertes"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <PositionOpenedComponent/>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Position Closes"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <PositionClosedComponent/>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Result"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <ResultComponent ResultData="Result"/>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Backtest"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <BacktestComponent/>
                    </ContentTemplate>
                </TabItem>
            </TabItems>

        </SfTab>

    </div>
</div>