.autocomplete-container {
  position: relative;
}

.autocomplete-input {
  width: 100%;
}

.autocomplete-suggestions {
  position: absolute;
  list-style: none;
  width: 100%;
  border: 1px solid #ccc;
  z-index: 1000;
  background-color: white;
  padding: 0;
  margin-top: 2px;
}

.autocomplete-suggestions li {
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-suggestions li:hover {
  background-color: #eee;
}
