@inherits HeathCheckComponentBase

<ShadowCardComponent Title="Health check">
    <Body>
    <div>
        <p><strong>Strategy status:</strong> @Strategy</p>
        <p><strong>Api status:</strong> @Api</p>
    </div>
    </Body>
</ShadowCardComponent>

