@inherits HeathCheckComponentBase

<div style="margin-right: 10px; margin-left: 10px">
    <SfTooltip CssClass="e-tooltip-css" Target="#btn-healthcheck">
        <ContentTemplate>
            <div id="healthcheck">
                <p><strong>Strategy status:</strong> @Strategy</p>
                <p><strong>Api status:</strong> @Api</p>
            </div>
        </ContentTemplate>
        <ChildContent>
            <SfButton ID="btn-healthcheck" CssClass="e-info text" IsPrimary="true" Content="Heathcheck"></SfButton>
        </ChildContent>
    </SfTooltip>
</div>





