@inherits ResultComponentBase

<div>
    <div >
        <label for="DrawndownMax" class="col-sm-2">Drawndown Max</label>
        <SfTextBox ID="DrawndownMax" Value="@ResultData?.DrawndownMax.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="GainMax" class="col-sm-2">Gain Max</label>
        <SfTextBox ID="GainMax" Value="@ResultData?.GainMax.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="MoyenneNegative" class="col-sm-2">Moyenne Negative</label>
        <SfTextBox ID="MoyenneNegative" Value="@ResultData?.MoyenneNegative.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="MoyennePositive" class="col-sm-2">MoyennePositive</label>
        <SfTextBox ID="MoyennePositive" Value="@ResultData?.MoyennePositive.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="MoyenneProfit" class="col-sm-2">Moyenne Profit</label>
        <SfTextBox ID="MoyenneProfit" Value="@ResultData?.MoyenneProfit.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="PerteMax" class="col-sm-2">Perte Max</label>
        <SfTextBox ID="PerteMax" Value="@ResultData?.PerteMax.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="Profit" class="col-sm-2">Profit</label>
        <SfTextBox ID="Profit" Value="@ResultData?.Profit.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="ProfitFactor" class="col-sm-2">Profit Factor</label>
        <SfTextBox ID="ProfitFactor" Value="@ResultData?.ProfitFactor.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="ProfitNegatif" class="col-sm-2">Profit Negatif</label>
        <SfTextBox ID="ProfitNegatif" Value="@ResultData?.ProfitNegatif.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="ProfitPositif" class="col-sm-2">Profit Positif</label>
        <SfTextBox ID="ProfitPositif" Value="@ResultData?.ProfitPositif.ToString()" Readonly="true"/>
    </div>

    <div >
        <label for="RatioMoyennePositifNegatif" class="col-sm-2">Ratio Moyenne Positif Negatif</label>
        <SfTextBox ID="RatioMoyennePositifNegatif" Value="@ResultData?.RatioMoyennePositifNegatif.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="TauxReussite" class="col-sm-2">Taux Reussite</label>
        <SfTextBox ID="TauxReussite" Value="@ResultData?.TauxReussite.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="TotalPositionNegative" class="col-sm-2">Total Position Negative</label>
        <SfTextBox ID="TotalPositionNegative" Value="@ResultData?.TotalPositionNegative.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="TotalPositionPositive" class="col-sm-2">Total Position Positive</label>
        <SfTextBox ID="TotalPositionPositive" Value="@ResultData?.TotalPositionPositive.ToString()" Readonly="true"/>
    </div>
    <div >
        <label for="TotalPositions" class="col-sm-2">Total Positions</label>
        <SfTextBox ID="TotalPositions" Value="@ResultData?.TotalPositions.ToString()" Readonly="true"/>
    </div>

</div>