@inherits StrategyComponentBase

<ShadowCardComponent Title="Strategy">
    <Body>
    @if (IsInitialized)
    {
        <StrategyDataComponent/>
    }
    else
    {
        <StrategyInitFormComponent StrategyFormUpdateRequested="@HandleStrategyForm"/>
    }
    </Body>

</ShadowCardComponent>

@code {

}