@inherits StrategyDataBaseComponent

<div class="container-fluid">
    <div class="mb-3">
        <SfButton @onclick="DeleteStrategy">Delete Strategy</SfButton>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="Strategy">Strategy</label>
            <SfTextBox ID="Strategy" Value="@StrategyInfo?.StrategyName" Readonly="true"/>
        </div>
        <div class="col-md-4">
            <label for="Symbol">Symbol</label>
            <SfTextBox ID="Symbol" Value="@StrategyInfo?.Symbol" Readonly="true"/>
        </div>
        <div class="col-md-4">
            <label for="Timeframe">Timeframe</label>
            <SfTextBox ID="Timeframe" Value="@StrategyInfo?.Timeframe" Readonly="true"/>
        </div>
        <div class="col-md-4">
            <label for="Timeframe2">Timeframe</label>
            <SfTextBox ID="Timeframe2" Value="@StrategyInfo?.Timeframe2" Readonly="true"/>
        </div>

        <div class="col-md-4">
            <label for="CanRun" style="padding: 10px 10px 10px 0">Can Run</label>
            <SfSwitch @bind-Checked="StrategyInfo.CanRun" ValueChange="OnCanRunChange" TChecked="bool?"></SfSwitch>
        </div>
        @* <div class="col-md-4"> *@
        @*     <label for="SecureControlPosition" style="padding: 10px 10px 10px 0">Secure Control Position</label> *@
        @*     <SfSwitch @bind-Checked="StrategyInfo.SecureControlPosition" ValueChange="OnSecureControlePositionChange" TChecked="bool"></SfSwitch> *@
        @* </div> *@
    </div>
    <div class="row" style="margin: 20px;">
        <div class="col" style="padding-right: 10px;">
            <CandleComponent Candle="@LastCandle"/>
        </div>
        <div class="col" style="padding-left: 10px;">
            <TickComponent Tick="@LastTick"/>
        </div>
    </div>

    <div class="row">
        <SfTab LoadOn="ContentLoad.Dynamic" @bind-SelectedItem="@SelectedTab">
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Position Ouvertes"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <PositionOpenedComponent/>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Position Closes"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <PositionClosedComponent/>
                    </ContentTemplate>
                </TabItem>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Result"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <ResultComponent @ref="ResultComponent"/>
                    </ContentTemplate>
                </TabItem>
            </TabItems>

        </SfTab>

    </div>
</div>

@code {

}