@inherits StrategyComponentBase


<ShadowCardComponent Title="Strategy" OnLoading="OnLoading" @ref="ShadowCardComponent">
    <Body>

    @if (IsInitialized)
    {
      
        <div class="container mt-4">
            <div class="mb-3">
                <SfButton @onclick="DeleteStrategy">Delete Strategy</SfButton>
            </div>
            <div>
                <StrategyDataComponent StrategyCloseRequested="@HandleChildEvent"/>
            </div>
        </div>
    }
    else
    {
       
        <StrategyInitFormComponent StrategyFormUpdateRequested="@HandleChildEvent"/>
    }

        
    </Body>
</ShadowCardComponent>

@code
{
    private ShadowCardComponent ShadowCardComponent;
}
