@inherits StrategyComponentBase


<ShadowCardComponent Title="Strategy" OnLoading="OnLoading">
    <Body>
    <CascadingValue Value="OnLoading">
        @if (IsInitialized)
        {
            <div class="container mt-4">
                <div class="mb-3">
                    <SfButton @onclick="DeleteStrategy">Delete Strategy</SfButton>
                </div>
                <div>
                    <StrategyDataComponent/>
                </div>
            </div>
        }
        else
        {
            <StrategyInitFormComponent StrategyFormUpdateRequested="@HandleStrategyForm"/>
        }
    </CascadingValue>
        
    </Body>
</ShadowCardComponent>