@using StrategyApi.StrategyBackgroundService.Dto
@using StrategyApi.StrategyBackgroundService.Dto.Response
@using StrategyApi.StrategyBackgroundService.Services
@using Front.Services
@inject IJSRuntime JSRuntime

@if (ShowModal)
{
    <div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Télécharger un fichier</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <InputFile OnChange="HandleFileSelected"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseModal">Annuler</button>
                    <button class="btn btn-primary" @onclick="UploadFile">Envoyer</button>
                </div>
            </div>
            <div id="container">
                <SfSpinner @bind-Visible="@OnLoading"/>
            </div>
        </div>
    </div>

    <div class="modal-backdrop" style="display:block"></div>
}

@code {

    [Parameter] public StrategyFileDto CurrentStrategyFile { get; set; }
    [Parameter] public EventCallback<StrategyUpdateResponseDto> OnClose { get; set; }
    [Inject] private ShowToastService ToastService { get; set; }
    [Inject] private IStrategyGeneratorService StrategyGenerator { get; set; }

    private StrategyUpdateResponseDto StrategyCreatedResponseDto;

    protected bool OnLoading { get; set; }
    public bool ShowModal { get; set; } = false;
    private IBrowserFile selectedFile;

    public void OpenModal()
    {
        ShowModal = true;
        StrategyCreatedResponseDto = new StrategyUpdateResponseDto();
    }

    private void CloseModal()
    {
        ShowModal = false;
        OnClose.InvokeAsync(StrategyCreatedResponseDto);
    }

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
    }

    private async Task UploadFile()
    {
        try
        {
            OnLoading = true;
            if (selectedFile != null)
            {
                using var memoryStream = new MemoryStream();
                await selectedFile.OpenReadStream().CopyToAsync(memoryStream);

                var fileBytes = memoryStream.ToArray();

                CurrentStrategyFile.Data = fileBytes;

                StrategyCreatedResponseDto = await StrategyGenerator.UpdateStrategyFile(CurrentStrategyFile);

                CloseModal();
            }
        }
        catch
        {
            ToastService.ShowToastError("Can't update strategy file");
        }

        OnLoading = false;


        OnLoading = false;
    }

}