@page "/"
@inherits IndexBase


<div class="container-fluid">
    @if (IsConnected)
    {
        <AllStrategyComponent/>
    }
    else
    {
        <p>Connection à une API nécessaire</p>
    }

</div>