@page "/"
@inherits IndexBase
@inject NavigationManager NavigationManager


<div class="container-fluid">
    @if (IsConnected)
    {
        NavigationManager.NavigateTo("/Strategy");
    }
    else
    {
        <p>Connection à une API nécessaire</p>
    }

</div>