.formContainer {
    max-width: 600px; /* ou une autre largeur selon vos besoins */
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* optionnel, pour un effet d'ombre */
    border-radius: 8px; /* optionnel, pour des coins arrondis */
}

.formGroup {
    margin-bottom: 15px;
}

.formControl {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.submitButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3;
}

.submitButton:active {
    background-color: #004085;
}
